<div class="modal-header">
  <h4 id="myModalLabel" class="modal-title">Atenção!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
  <div class="form-group row">
    <label for="remove-product" class="col-sm-12 col-form-label">Deseja realmente remover o produto <b>{{ product._id }}</b>?</label>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-danger" (click)="removeProduct()">Remover</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cancelar</button>
</div>