<app-navigation [header]="route.data | async"></app-navigation>
<div class="row mt-3">
  <div class="col-12 col-md-6 {{ width >= 768 ? 'mycontent-left' : '' }}">
    <form #loginForm="ngForm" (ngSubmit)="onSubmitLogin(loginForm)">
      <p class="lead">Já tenho cadastro</p>
      <div class="d-flex flex-column">
        <div *ngIf="message">
          <div class="alert alert-warning w-100" role="alert">
            <strong>Erro!</strong> {{ message }}
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail" class="col-sm-2 col-md-3 col-lg-2 col-form-label">E-mail</label>
          <div class="col-sm-10 col-md-9 col-lg-10">
            <input type="email" ngModel class="form-control" id="emailLogin" name="emailLogin" required email>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-md-3 col-lg-2 col-form-label">Senha</label>
          <div class="col-sm-10 col-md-9 col-lg-10">
            <input type="password" ngModel class="form-control" id="passwordLogin" name="passwordLogin" required>
          </div>
        </div>
        <button type="submit" class="btn btn-primary h6" [disabled]="!loginForm.valid">Continuar</button>
      </div>
    </form>
  </div>
  <div class="col-12 col-md-6">
    <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister(registerForm)" class="h-100">
      <p class="lead">Não tenho cadastro</p>
      <div class="d-flex flex-column mycontent-height">
        <div class="form-group row">
          <label for="inputEmail" class="col-sm-2 col-md-3 col-lg-2 col-form-label">E-mail</label>
          <div class="col-sm-10 col-md-9 col-lg-10">
            <input type="email" ngModel class="form-control" id="emailRegister" name="emailRegister" required email>
          </div>
        </div>
        <button type="submit" class="btn btn-primary h6 mt-auto" [disabled]="!registerForm.valid">Criar cadastro</button>
      </div>
    </form>
  </div>
</div>